@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

body {
  background-color: black;
  font-family: 'Pathway Gothic One', sans-serif;
  color: white;
}

header {
  display: flex;
  color: black;
  padding: 10px 30px;
  font-family: 'Pathway Gothic One', sans-serif;
  background-color: white;
  flex-direction: row;
  justify-content: space-between;
  gap: 3%;
  align-items: center;
}

/* #busca {
  position: absolute;
  margin-top: 20px;
  margin-left: 300px;
  background-color: rgb(211, 211, 211);
  padding-top: 130pz;
  height: 30px;
  width: 500px;
} */

#busca {
  width: 100%;
  height: 30px;
}

span {
  color: white;
  padding: 5px 8px;
  border-radius: 10%;
  background-color: rgb(192, 29, 29);
}

a {
  font-size: x-large;
}

.videos {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  list-style: none;
}

.thumb {
  height: 200px;
  width: 300px;
}

.thumb:hover {
  transform: scale(1.03);
}

.titulo-video {
  font-size: x-large;
}
