body {
  margin: 0;
  padding: 0;
}

.caixa {
  background-color: rgb(100, 6, 129);
  border: solid black 5px;
  width: 200px;
  height: 200px;
}

.interno {
  background-color: yellow;
  border: dashed black 3px;
  width: 100px;
  height: 100px;
  margin: 50px;
  text-align: center;
  padding-top: 35px;
  box-sizing: border-box;
}

#canto {
  position: absolute;
  top: 0px;
  right: 0px;
}

#fixa {
  position: fixed;
  bottom: 0px;
  left: 50%;
  margin-left: -100px;
}
